 <!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">
  <title>Image Recognition Server</title>
  <body class style="margin:10px;padding:10px">
    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
          <h3>Cats vs Dogs Image Recognition Server</h3>
          <p class="lead">Upload the image and find out what an animal (<b>Cat</b> or <b>Dog</b>) is located on it?</p>
        </div>
      </div>
      <form action="" method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>
    </div>
    <p style="margin-bottom:2cm;"></p>
    <div class="row">
        <div class="col-lg-4">
          <div class="page-header">
            <h3 id="tables">Result</h3>
          </div>
          <div class="bs-component">
            <table class="table table-hover">
                <tr class="table-active">
                  <th scope="col">Image</th>
                  <th scope="col">Predict</th>
                </tr>
                <tr>
                    <th scope="row"> <img width="224" height="224" src="{{imagesource}}" /> </th>
                    <td> {{label}} </td>
                  </tr>
            </table> 
        </div>
      </div>
  </body>
